asyncpg~=0.29.0
fastapi~=0.108.0
uvicorn~=0.25.0
# dev
pytest~=7.4.0
httpx~=0.26.0

#auth
pyjwt~=2.10.1
bcrypt~=4.2.1

# Data Analysis
numpy~=2.2.0
mlflow~=2.19.0
requests~=2.32.3
python-dotenv~=1.0.1